# HDBSCAN
![HDBSCAN](hdbscan.png)
### Данные
* https://video.ittensive.com/machine-learning/hacktherealty/exposition_train.basic.csv.gz

### Подключение библиотек

In [1]:
import pandas as pd
import numpy as np
import hdbscan
from sklearn import metrics
from sklearn.preprocessing import MinMaxScaler

### Загрузка данных

In [2]:
train_data = pd.read_csv('https://video.ittensive.com/machine-learning/hacktherealty/exposition_train.basic.csv.gz')
train_data.head()

,total_area,ceiling_height,rooms,living_area,price,day_mean,doy_108,price_locality_name_median,target
0,105.000000,3.00,3,50.000000,95000,2.456912,0,2.261905,1
1,40.000000,3.00,1,19.200001,25000,3.028689,0,1.000000,2
2,37.599998,2.64,0,19.000000,26000,3.091993,0,0.619048,2
3,80.000000,3.00,3,49.000000,35000,3.101010,0,1.250000,2
4,100.000000,3.00,3,49.000000,80000,2.495468,0,1.904762,3

### Нормализация данных
Приведение всех значений к отрезку [0;1]

In [3]:
train_data_mm = pd.DataFrame(MinMaxScaler().fit_transform(train_data))

In [4]:
train_data_mm.head()

          0         1    2         3         4         5    6         7     8
0  0.097782  0.333333  0.6  0.108352  0.002078  0.390327  0.0  0.002071  0.00
1  0.032258  0.333333  0.2  0.038826  0.000522  0.599951  0.0  0.000893  0.25
2  0.029839  0.213333  0.0  0.038375  0.000544  0.623160  0.0  0.000538  0.25
3  0.072581  0.333333  0.6  0.106095  0.000744  0.626465  0.0  0.001127  0.25
4  0.092742  0.333333  0.6  0.106095  0.001745  0.404462  0.0  0.001738  0.50

### Иерархический DBSCAN
https://hdbscan.readthedocs.io/en/latest/api.html

In [5]:
hdb = hdbscan.HDBSCAN(min_cluster_size=5)
hdb.fit(train_data_mm)

HDBSCAN()

In [6]:
print ("Неразмеченные данные:", str(round(100*len(hdb.labels_[(hdb.labels_==-1)&(hdb.probabilities_>0.5)])/len(train_data_mm)))+"%")

Неразмеченные данные: 0%

In [7]:
print(1 - metrics.davies_bouldin_score(train_data_mm, hdb.labels_)) # -0.5

-0.5203381927478139

Элементы первого кластера

In [8]:
train_data.iloc[list(np.where((hdb.labels_==0)&(hdb.probabilities_>0.5))[0])]

,total_area,ceiling_height,rooms,living_area,price,day_mean,doy_108,price_locality_name_median,target
30516,106.0,3.10,3,71.0,150000,3.190244,1,3.571429,3
45008,75.0,2.64,3,51.0,25000,3.190244,1,1.086957,3
45512,118.0,3.00,3,49.0,129000,3.190244,1,3.071429,3
74242,85.0,2.64,3,53.0,55000,3.190244,1,1.309524,3
85418,100.0,3.00,3,49.0,135000,3.190244,1,3.214286,3
107177,100.0,2.70,3,70.0,100000,3.190244,1,2.380952,3
136302,94.0,3.00,3,49.0,110000,3.190244,1,2.619048,3
166620,78.0,2.74,3,43.0,60000,2.869565,1,1.428571,3
174999,75.0,2.74,3,44.0,75000,3.190244,1,1.785714,3
230534,88.0,3.20,3,49.0,150000,3.190244,1,3.571429,3
235764,140.0,3.00,3,70.0,115000,3.190244,1,2.738095,3
245428,76.0,2.50,3,48.0,35000,3.190244,1,1.346154,3
247859,75.0,2.70,3,50.0,35000,3.190244,1,1.346154,3
271398,83.0,3.00,3,49.0,115000,3.190244,1,2.738095,3